@charset "UTF-8";

@import '../styles/content-tools';

$buttonSize: 48px; // Needs to be same as ignition button size

/**
 * Array style indexing (0 = 1)
 */
@function calculate-position($positionOfButton) {
  @return ($buttonSize+12) * $positionOfButton;
}

.ct-widget {

  &.ct-action-bar {

    /**
     * Position it on the page
     */
    left: 16px;
    position: fixed;
    top: $buttonSize + 24;
  }

  .ct-action {

      &__button {

          // Set the base appeance of the button
          border-radius: $buttonSize / 2;
          content: '';
          cursor: pointer;
          display: block;
          height: $buttonSize;
          line-height: $buttonSize;
          opacity: 0.9;
          position: absolute;
          text-align: center;
          @include type-icons($font-size: 24px);
          width: $buttonSize;

          // Each button displays an icon
          &:before {
              color: white;
          }

          /* Add page button */
          &--addPage {
              background: $muted-action-color;
              top: calculate-position(0);
              &:before { content: 'P'; }
              &:hover { background: lighten($muted-action-color, 5%); }
          }

          &--addBlock {
              background: $muted-action-color;
              top: calculate-position(1);
              &:before { content: 'B'; }
              &:hover { background: lighten($muted-action-color, 5%); }
          }

          &--metadata {
              background: $muted-action-color;
              top: calculate-position(2);
              &:before { content: 'M'; }
              &:hover { background: lighten($muted-action-color, 5%); }
          }

          /* Cancel button */
          &--cancel {
              background: $cancel-action-color;
              left: $buttonSize + 16;

              &:before {
                  content: '\ea0f';
              }

              &:hover {
                  background: lighten($cancel-action-color, 5%);
              }
          }

          /* Edit button */
          &--edit {
              $bkg-color: $edit-action-color;
              background: $bkg-color;

              /**
               * Unlike the confirm and cancel buttons we rotate the edit
               * button's pencil icon on mouse over to add a sense of
               * purpose :)
               */
              &:before {
                  content: '\e905';
                  @include transition-property(transform);
                  @include transition-duration(0.1s);
                  @include transition-timing-function(ease-in);
              }

              &:hover {
                  background: lighten($bkg-color, 5%);

                  &:before {
                      display: inline-block;
                      @include transform(rotate(-15deg));
                  }
              }
          }

      } // __button

  } // .ct-ignition
}
